
.main{
  height: 90vh;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
 
 .hx4 {
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
    color: white;
  }
  

  
  .glass__form__input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    background-color: #cbcacae8;
    border-radius:  15px 15px 15px 15px;
    color: white;
  }
  
  
  
  .glass__form__btn {
    background: black ;
    border: 1px solid #ea2828;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
  .glass__form__btn:hover {
    background:white;
    color:black;
    transition: all ease-in-out 0.3s;
  }
  
  #cover {
   
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    background-color: rgb(73, 70, 70);
    z-index: -1;
    border-radius: 10px;
}

 
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
  }
  
  ::placeholder {
    /* Most modern browsers support this now. */
    color: #000;
  }
  .container_dbs{
    background: linear-gradient(90deg, rgba(8,8,11,1) 15%, rgba(8,8,11,0.9504719368216037) 36%, rgba(1,1,14,0.9728809004070378) 78%, rgba(15,0,8,0.9924887435442927) 86%);
    min-width: 90vh;
  }


  
  