.logreg-forms{
    
    color: white;
    min-height: 90vh;
    background: linear-gradient(90deg, rgba(8,8,11,1) 15%, rgba(8,8,11,0.9504719368216037) 36%, rgba(1,1,14,0.9728809004070378) 78%, rgba(15,0,8,0.9924887435442927) 86%);


}

body{

    background-color: #000;
  }
  
  
  .card{
  
    width: 400px;
    height: 270px;
    border:none;
  
  }
  
  
  .message{
    color: #000;
  }
  
  
  .btn-dark {
      color: #fff;
      
  }
  
  
  .btn-dark:hover {
      color: black;
      background-color:white;
      border-color:#000;
  }
  

  
  
  .form{
  
    padding: 10px;
        height: 300px;
  }
  
  .form input{
  
    margin-bottom: 12px;
    border-radius: 3px;
  }
  
  
  .form input:focus{
  
    box-shadow: none;
  }
  
  
  .form button{
  
    margin-top: 20px;
    background-color: black;
    margin-bottom: 5px;
  }